body
{
	font-family:"Lucida Sans",arial,sans-serif;
	font-style:normal;
	background-color:#151c25;
}

#body
{
	background-image:url(../images/login/grain.png);
	background-repeat:no-repeat;
	margin:0 auto;
}

#close
{
	position:absolute;
	cursor:pointer;
	top:10px;
	right:10px;
}

#header
{
	margin-top:40px;
}

#intro
{
	color:#89a6b8;
	font-size:18px;
	margin:auto;
	margin-top:20px;
	margin-bottom:30px;
	width:478px;
}

#intro span
{
	color:#fff;
}

#form
{
	background-image:url(../images/login/box.png);
	background-repeat:no-repeat;
	width:478px;
	height:325px;
	margin:auto;
	padding-top:20px;
	text-align: center;
}

#form form > div
{
	margin:auto;
	width:360px;
}

#form form div button
{
}

#lform
{
	position: absolute;
	left: 80px;
}

#lform div.input
{
	position:relative;
	height:100px;
}

#lform div.input > div
{
	font-size:18px;
	color:#fff;
	position:absolute;
	top:10px;
	left:10px;
	width:357px;
}

#lform div.input input
{
	position:absolute;
	top:40px;
	left:10px;
	border:none;
	font-size:18px;
	height:40px;
	width:357px;
	padding-left:10px;
	padding-right:10px;
	color:#222;
}

#lform div.input div.shadow
{
	background-image:url(../images/login/shadow.png);
	background-repeat:no-repeat;
	width:357px;
	height:14px;
	position:absolute;
	top:80px;
	left:10px;
}

#lform div
{
	width:357px;
}

#lform button
{
	margin-top:5px;
	border:none;
}

#remember 
{
	background-image:url(../images/login/checkbox_on.png);
	background-repeat:no-repeat;
	background-color: #445866;
	width:110px;
	height:18px;
	padding-left:15px;
	color:#fff;
	cursor:pointer;
}

#remember.unchecked
{
	background-image:url(../images/login/checkbox.png);
}

#login
{
	opacity:1.0;
	cursor:pointer;
	background-color: #445866;
}

#login[disabled]
{
	opacity:0.5;
	cursor:wait;
}

#footer
{
	width:478px;
	margin:auto;
	position:relative;
	margin-top:-20px;
}

#footer img
{
	position:absolute;
	right:5px;
	top:10px;
}
